## What is a Variable?
# Are entities of a program that holds value
# Box values X=100, the box is 100 called x(the entity)

In [2]:
x=100

In [3]:
type(x)

int

In [4]:
x= 654*6734
type(x)

int

In [5]:
print(x)

4404036

#floats : are numbers with a decimal point

In [6]:
x=3.14

In [7]:
print(x)

3.14

In [8]:
type(x)

float

In [9]:
x= "simplilearn"

In [10]:
print(x)

simplilearn

In [11]:
x= 'simplilearn'

In [12]:
print(x)

simplilearn

In [13]:
type(x)

str

#Lists: Acollection of values

In [14]:
x= [123,2024,2025,2026]

In [15]:
print(x)

[123, 2024, 2025, 2026]

In [16]:
type(x)

list

In [17]:
print(x[0])
print(x[1])
print(x[2])
print(x[3])

123
2024
2025
2026

In [18]:
print(x[0])

123

#Changing the values whic are printed in the list 
e.g changing 2026 to 2030 etc

In [19]:
x[0]=67

In [20]:
print(x)

[67, 2024, 2025, 2026]

#Tuples, a type of data structure that is similar to lists.


The main difference between Lists and Tuples is that tuples are imutable,meaning they cannot be changed, meanwhile lists are mutable meaning they can be changed.

In [21]:
x= (4,8,6)
print(x)

(4, 8, 6)

In [22]:
type(x)

tuple

In [23]:
print(x[1])

8

In [24]:
#changing the value of a number in the tuple, 
#the output will be an error cause tuples are imutable.

x [1]=10

TypeError: 'tuple' object does not support item assignment

In [ ]:
#How to open files using tuples

x=open('maxNames.ipynb','r')

#In General Terms TextIOWrapper is called textpointers

In [ ]:
type(x)

_io.TextIOWrapper

#How to assign values to multiples variables

In [ ]:
(x,y,z)=23,21,20

In [ ]:
print(x)

23

In [ ]:
print(x)
print(y)
print(z)

23
21
20

In [ ]:
x=y=z=23

In [ ]:
print(x,y,z)

23 23 23

#Rules for Naming varibales

Variable names must begin with a alphabetic or an underscore

In [ ]:
_abc=100

In [ ]:
3a=10

SyntaxError: invalid decimal literal (671370871.py, line 1)

In [ ]:
@abc=100

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1144390958.py, line 1)

The first character can be followed by alphabets, numbers or underscore

In [ ]:
a100=100

In [ ]:
_a983=100

In [ ]:
a99665$=100

SyntaxError: invalid syntax (1493176089.py, line 1)

In [ ]:
xyz-2=100

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3328636375.py, line 1)

varibale names are case sensetive, meaning Python as the language is case sensitive.

Case Sensitive = means the language treats uppercase and lowercase characters differently.

In [ ]:
A100=200
a100=300

Reserved words cannot be used as variblae names, meaning those words soley means something functional within the language.

see examples below;

In [ ]:
break=10

SyntaxError: invalid syntax (875108267.py, line 1)

In [ ]:
class=5

SyntaxError: invalid syntax (1792501919.py, line 1)

In [ ]:
try=10

SyntaxError: expected ':' (1609970638.py, line 1)

#Arithmetic Operations using varibales

In [26]:
x = 70
z = 85

In [27]:
result= x+z
print(result)

155

In [28]:
result= x-z
print(result)

-15

In [ ]:
result= z*x
print(result)

5950

In [ ]:
result= x/z
print(result)

0.8235294117647058

In [ ]:
# To prevent float answers and get one digit answers instead we should use //

result= z//x
print(result)

1

In [ ]:
result= 2/3
print(result)

0.6666666666666666

In [ ]:
reslut= 2//3
print

In [ ]:
result= x%y
print(result)

1

In [ ]:
result=3%2
print(result)

1

In [ ]:
#floating numbers

x=3.14
y=5.7

In [ ]:
result= y/x
print(result)

1.8152866242038217

#String Operations

In [35]:
var='simplelearn'

In [39]:
# How to extract a specific single characters from the string Simplelearn
#Extracting the 8th letter

print(var[8]) 

print(var[9])

a
r

In [ ]:
print(var[0])

S

In [40]:
#Extracting the 1st 7 characters

print(var[0:7])

print(var[0:5])

simplel
simpl

In [ ]:
#Exctracting ignoring the 1st 4 charcters

print(var[:4])

Simp

In [41]:
#Exctracting the last 3 characters from the 4th last till the end
#Note we are mentioning the 4th last character

print(var[7:])

earn

In [42]:
print(var[0:20])

simplelearn

In [44]:
#Finding out the legnth of the string, without manualy counting
#Not our var/varibale is the string simplelearn

len(var)

11